{{#each countries}}
<li><img src="{{flags.png}}"></li>
             <li>{{name}}</li>
             <li class="countiesAttribute"><b>Capital:</b>&nbsp;{{capital}}</li>
             <li class="countiesAttribute"><b>Population:</b>&nbsp;{{population}}</li><li class="countiesAttribute"><b>Languages:</b>&nbsp;{{print_languages}}</li>
{{/each}}